/*regole generali*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

main {
    width: 55%;
    margin: 0 auto;
    padding-top: 50px;
}

footer {
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
}

hr {
    margin-top: 160px;
    background-color: #F7F7F7;
    border: none;
    height: 2px;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 59px;
    padding-top:20px;
    font-weight: 800;
}

h2{
    font-size: 28px;
}

h3 {
    font-size: 27px;
}

h5 {
    font-size: 19px;
}

/*regole navbar*/
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1000;
    background-color: white;
}

#left-nav *,
#right-nav *{
    padding-left: 5px;
    padding-right: 5px;
    display: inline;
}

#right-nav {
    margin-top:  10px;
}

/*regole bottoni*/
.small-button {
    background-color: #0261FE;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

#start-button {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.large-button {
    background-color: #0261FE;
    color: white;
    padding: 10px;
    display: inline-block;
    text-align: center;
    min-width: 199px;
    max-width: 201px;
}

#choice-menu {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.choice-opt {
    display: flex;
    margin-right: 30px;
    gap: 5px;
}

.choice-but {
    background-color: #0261FE;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.choice-but span{
    font-size: 40px;
    color: white;
    position: relative;
    bottom: 13px;
    left: 5px;
}

#choice-but-white{
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
}

#white-button {
    padding: 8px;
    border: 1px rgba(0, 0, 0, 0.137) solid;
}

/*regole hover*/
.nav-hov {
    padding-bottom: 25px;
    padding-top: 45px;
}

.nav-hov:hover {
    border-bottom: 1px solid black;
}

.small-button:hover,
.large-button:hover {
    background-color: #418aff;
}

/*regole jumbo*/
#jumbo-back {
    background-color: #B4D0E7;
    padding-top: 70px;
    height:680px;
}

#jumbo-text i {
    margin-top:55px;
    margin-bottom: 20px;
}

#jumbo-container {
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 39px;
    position: relative;
}

#jumbo-text {
    display: flex;
    flex-direction: column;
    width: 34%;
    padding-top: 25px;
    
}

#jumbo-text #arrow-icon {
   font-size: 50px;
}

.arrow-container {
    position: relative;
    bottom: 25px;
}

#jumbo-text *{
    margin-top: 25px;
}

#jumbo-img {
    width: 80%;
    transform: translateX(-19%);
    position: absolute;
    left: 47%;
    bottom: -62px;
}

#jumbo-container img {
   max-width: 93%;
   padding-bottom: 73px;
}

/*regole main*/
#subs-container {
    display: flex;
    gap: 45px;
}

.col {
    width: calc((100% / 3) - (30px/3)); 
    border: 1px rgba(0, 0, 0, 0.137) solid;  
}

.col *,
#offert-content * {
    margin-top: 9px;
    margin-left: 8px;
}

.offer-checklist span {
    margin-right: 13px;
}

main ul {
    display: flex;
    flex-direction: column;
}

/*regole elementi interni a colonne*/
.offert-icon {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 41px;
    border-bottom: rgba(0, 0, 0, 0.137) 1px solid;
    /*resetta regola degli elementi interni alla tabella */
    margin-top: 8px;
    margin-left: 0px;
    gap: 4px;
}

.offer-title{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.offer-desc *,
.offer-checklist *{
    padding-bottom: 10px;
}

.offer-buy > *:not(:last-child) {
  margin-bottom: 10px; 
}

.offer-buy hr {
    width: 18%;
    background-color: rgba(0, 0, 0, 0.315);
    height: 1px;
}

.offer-buy *{
   margin-bottom: 40px;
}

.grassetto {
    font-weight: 700;
}

.gray-text{
    color: gray;
}

.buy-link{
    color: #0261FE;
    text-decoration: underline;
    margin-left: 0px;
}

.offer-checklist *{
   margin-left: 0;
}

.offer-checklist {
    margin-left: 24px;
}

.reset-margin {
    margin-left: 0;
}

.off-row {
  gap: 3px;
  display: flex;
  align-items: baseline;
  width: 90%;
}

#large-col{
    border: rgba(0, 0, 0, 0.137) 1px solid;
    margin-top: 50px;
    padding-bottom: 35px;
}

#large-col i{
    margin-top:10px;
}

#contact-content {
    margin-top: 27px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

#contact-content p {
    margin-top: 38px;
}

#offert-content{
    display: flex;
}

#contact-btn-div {
    margin-top: 17px;
    margin-right: 21px;
    margin-left: 36px;

}

/*regole sezione partner*/
#partner-container {
    display: flex;
    padding-top: 180px;
}

#partner-img {
    width: 60%;
}

#partner-img img{
    width: 100%;
}

#partner-text {
    width: 40%;
    padding-top: 60px;
    padding-left: 60px;
}

#partner-text *{
    margin-bottom: 25px;
    width: 82%;
}

/*regole feature section*/
.row {
    display: flex;
    gap: 20px;
}

#op-container{
    padding-top:100px;
    padding-bottom: 100px;
}

.op-col {
    width: calc(100% / 3 - (40px/3));
}

.card {
    padding-bottom: 40px;
}

.card h3{
    padding-bottom: 30px;
}

#op-container h2{
    padding-bottom: 60px;
}

.card img {
    max-width: 100%;
}

/*regole sezione users*/
#users-div {
    width: 60%;
    padding-bottom: 150px;
}

#users-div *{
    padding-bottom: 50px;
}

#users-div a {
    color: #0261FE;
    text-decoration: underline;
}

/*regole footer*/
.footer-col {
    width: calc(100% / 3 - (40px /3));
}

#footer-col-container {
    width: 75%;
    display: flex;
    margin: 0 auto;
    padding-top: 70px;
    
}

.footer-col *{
    padding-bottom: 20px;
}

footer ul {

    display: flex;
    flex-direction: column;
}

#leng-sel{
    width: 100%;
}

footer a{
    color: white;
}

#leng-sel {
    width: 75%;
    padding-bottom: 50px;
    color: #9BA0A0;
    margin: 0 auto;
}

footer hr{
    width: 7%;
    height: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
}